@import 'utility.css';
:root
{
    --primary: #3dcfd3;
    --dark: #161616;
    --pure: #FFFFFF;
    --ternary:#898989;
    --light: #f2f2f2;
    --secendary:#070606;

}
header nav{
    padding: 2rem 0;
}
header nav .branding{
    margin-right: 3rem;
}
body{
    font-family: 'poppin' , sans-serif;

}
html{
    scroll-behavior: smooth;
}
.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.hero{
    padding: 3rem 0;
}
header
{
    background: var(--dark);
    clip-path:polygon( 0 0, 100% 0, 100% 100%, 75% 95% , 0 100%);
    
}
header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition all: .3s ease;

}
header nav .left a:hover{
    color: var(--primary);
}
.hero .left img{
    width: 380px;
    
}
.hero .right{
    color: var(--pure);
}
.hero .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-top: 20%;
   
}
.hero .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.hero .right h1 span{
    color: var(--primary);

}
.hero .right p
{
line-height: 1.9;
margin-bottom: 2rem;
}
.hero .right
{
    margin-top: -7rem;
}
section{
    padding: 6rem 0;
}
section .about-me-image{
    height: 600px;
}
section.about h1
{
margin-bottom: 1rem;
font-size: 1.6rem;
font-weight: 400;
}
section.about h1 span
{
    color: var(--primary);
}
section.about h3
{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
section.about p{
    font-family: 'Lato', sans-serif;
    line-height: 1.9;
    margin-bottom: 2rem;
}
section.about .social
{
    display: flex;
}
section.about .social a{
    background: var(--primary);
    display: flex;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0.6rem;
    transition: all 0.3s ease;
}
section.about .social a img{
width: 100%;
height: 100%;
padding: 0.5rem;
}
section.about .social a:hover{
background: darkblue;
}
.section-heading{
    color: var(--secendary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;


}
.section-heading + p{

color: var(--ternary);
font-family: 'Lato' sans-serif;
margin-bottom: 8rem;
text-align: center;

}
.section-heading span{
    color: var(--primary);
}
section.services .card-wrapper
{
display: grid;
grid-template-columns: 1fr 1fr;
grid-column-gap: 2rem;
grid-row-gap: 6rem;;
}
section.services{
    background: var(--light);
}
section.services .card-wrapper .card{
background: var(--pure);
padding: 3rem 2rem;
position: relative;
padding-top: 5rem;
text-align: center;
transition: all .3s ease;
}
section.services .card-wrapper .card img{
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
}
section.services .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}
section.services .card-wrapper .card p{
    font-family: 'Lato' sans-serif;
    color: var(--ternary);
    line-height: 1.6;
}
section.services .card-wrapper .card:hover{
    background: var(--dark);
}
section.services .card-wrapper .card:hover h2 , section.services .card-wrapper .card:hover p{
    background: var(--pure);
}
section.contact .card-wrapper
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
}
section.contact .card-wrapper .card
{
    text-align: center;

}
section.contact .card-wrapper .card img
{
    width: 100px;
    margin-bottom: 3rem;
}
section.contact .card-wrapper .card h2
{
 margin-bottom: 1rem;
    font-weight: 400;
}
section.contact .card-wrapper .card h6
{
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
    margin-bottom: 4rem;
}
section.contact .input-wrapper
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin-bottom: 2rem;
}
section.contact .input-wrapper-2
{
    display: flex;
    flex-direction: column;
}
section.contact input{
    padding: 0.5rem ;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}


section.contact .input-wrapper-2 input{
    margin-bottom: 2rem;
    border: 1px solid var(--light);
font-size: 0.9rem;

}

section.contact .input-wrapper-2 textarea
{
    padding: 00.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}  
section.contact input:focus
{
    outline: none;

}
section.contact .input-wrapper-2 textarea:focus
{
    outline: none;
}
section.contact  .btn-wrapper
{
    text-align: center;
    margin-top: 2rem;
}
footer
{
    background: var(--dark);
    text-align: center;
    padding: 3rem 0;
}
footer .footer-logo
{
    margin-bottom: 3rem;
    width: 200px;
}
footer .footer-Social img{
    width: 70px;
    margin-bottom: 1rem;
}
footer .footer-Social a{
    margin-right: 1rem;
}
footer .copyright
{
    color: var(--ternary);
}
ooter .footer-Social
{
    margin-right: -1rem;
}
@media (max-width:1024px)
{
    header #main-nav{
    display: none;}
}
.site-main_wrapper
{
    position: relative;
}
.hemberger
{
    position: absolute;
    right: 40px;
    top: 40px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.hemberger img
{
    width: 30px;
}
.mobile-nav
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: var(--light);
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 5rem;
    transform: translateX(-100%);
    transition: .5s ease-in-out;

}
.open
{
    transform: translateX(0);
}
.times
{
    position: fixed;
    top: 30px;
    right: 30%;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;;
}
.times img
{
    width: 30px;
}
.mobile-nav ul
{
    list-style-type: none ;
}
.mobile-nav ul li a
{
    color: var(--secendary);
    text-decoration: none;
    font-size: 2rem;
}