.flex{

    display: flex;
}
.item-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.btn{
    padding: 0.8rem 3rem;
    font-size: 1rem;
    border: 2px solid transparent;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease;
}
.btn-primary{
    background-color: var(--primary);
    color: var(--secondry);
}
.btn-primary:hover{
    background-color: transparent;
    border-color: var(--primary);
    color: var(--primary);

}
.btn-secendary{
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);

}
.btn-secendary:hover{
    background: var(--primary);
    color: var(--secondry);
}
.flex-1{
    flex: 3;
}
.justify-center{
    justify-content: center;
}